.product {
    display: flex;
    justify-content: center;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 60px;
    flex-basis: 40%;
}

.actions img {
    width: 400px;
    height: 250px;
    object-fit: contain;

}

.about {
    flex-basis: 60%;
}

.price {
    margin-bottom: 20px;

}

.info {
    
}

.oneInfo {
    padding: 10px 15px;
    width: 100%;
    background-color: #efeeee;

}

.oneInfo:nth-child(2n) {
    background-color: #dedddd;
}

